body {
    font-family: 'Montserrat', sans-serif;
    background-color: #BFBFBF;
    color: black;
}


.navbar-custom{ 
    background-color: #A6A6A6;
}
.navbar-custom .nav-link:hover{
    color: black;
    transition: 0.4s ease;
}

.introdução{
  display: grid;
  grid-template-areas: 
   "intro intro"; /* define como será distribuido o layout do container */
  padding: 5%;
  gap: 20px;
  align-items: center;
}


.intro{
    grid-area: intro;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.sobremim {
    display: grid;
    grid-template-areas: 
    "foto sobremim-texto";
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 5%;
    gap: 10px;
    
}

.foto{
    grid-area: foto;
}
.foto > img{
    width: 85%;
    border-radius: 4%;
}


.sobremim-texto > p{
    text-align: justify;
}

.Currículo{
    display: grid;
    grid-template-rows: auto auto;
    padding: 5%;
    gap: 20px;
}

.habilidades{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
    gap: 10%;
    margin-top: 5%;
}

.habilidadestexto{
    grid-column-start: 1;
    grid-column-end: 4;
}  

.Projetos{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
}

.texto-projeto{
    grid-column-start: 1;
    grid-column-end: 4;
}

.crows-imagem > img{
    width: 70%;
}