body {
    font-family: 'Montserrat', sans-serif;
    background-color: #022859;
    color: #fff;
}


.navbar-custom{ 
    background-color: black;
}

.navbar-custom .nav-link{
    color: white;
}
.navbar-custom .nav-link:hover{
    color: whitesmoke;
    transition: 0.4s ease;
}


.introdução{
  display: grid;
  grid-template-areas: 
   "intro intro"; /* define como será distribuido o layout do container */
  padding: 2%;
  gap: 20px;
  align-items: center;
}


.intro{
    grid-area: intro;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    margin-top: 10%;
}

.sobremim {
    display: grid;
    grid-template-areas: 
    "foto sobremim-texto";
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 5%;
    gap: 10px;
    
}

.foto{
    grid-area: foto;
}
.foto > img{
    width: 85%;
    border-radius: 4%;
}


.sobremim-texto > p{
    text-align: justify;
}

.Currículo{
    display: grid;
    grid-template-rows: auto auto;
    padding: 5%;
    gap: 20px;
}

.item1> article{
    margin-bottom: 5%;
}

.item2 > article{
    margin-bottom: 5%;
}

.habilidades{
    display: grid;
    grid-template-areas: 
    "habilidadestexto habilidadestexto habilidadestexto habilidadestexto"
    "icone-html5 icone-css3 icone-python icone-github";
    padding: 5%;
    gap: 10%;
    margin-top: 5%;
    
}

.icone-html5{
    grid-area: icone-html5;
}

.icone-css3{
    grid-area: icone-css3;
}

.icone-python{
    grid-area: icone-python;
}

.icone-github{
    grid-area: icone-github;
}

.habilidadestexto{
    grid-column-start: 1;
    grid-column-end: 4;
}  

.habilidadestexto {
    margin-bottom: 5%;
}

.Projetos{
    display: grid;
    grid-template-areas: 
    "texto-projeto texto-projeto"
    "crows-texto crows-imagem";
    padding: 5%;
    gap: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.crows-texto{
    grid-area: crows-texto;
    text-align: justify;
}

.crows-texto > h3{
    margin-bottom: 5%;
}

.crows-imagem{
    grid-area: crows-imagem;
}

.crows-imagem > img{
    width: 100%;
}

.contato{
    padding: 5%;
    margin-top: 10%;
    gap: 10px;
}

.contato > h2{
    margin-bottom: 5%;
}

.contato{
    display: flex;
    background-color: black;
    justify-content: space-around;
    width: 100%;
}

.contato > a{
    font-size: 4vw;
    color: #fff;
}

.bxl-linkedin:visited {
    color: #fff;
}
.bxl-linkedin:hover {
    color: #047ec0;
}

.bxl-linkedin:active {
    color: #205a79;
}

.bxl-gmail:visited {
    color: #fff;
}
.bxl-gmail:hover {
    color: #e44132;
}
.bxl-gmail:active {
    color: #a11407;
}

.bxl-github:visited {
    color: white;
}
.bxl-github:hover {
    color: #a6a6a6;
}
.bxl-github:active {
    color: #2d2d2d;
}